* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 64px;
}

.container__index {
  transform: translateX(300px);
}

.nuestros__locales {
  font-size: 25px;
  color: blue;
  margin-bottom: 16px;
}

.grid__contenedor {
  display: grid;
  background-size: cover;
  grid-template-columns: 100%;
  grid-template-rows: 5% 15% 10% 75% 40% 20% 5% 5%;
  height: 1000px;
  grid-template-areas: "ele1" "ele2" "ele3" "ele4" "ele5" "ele6" "ele7" "ele8";
}

.grid__top {
  background-color: yellow;
  grid-area: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  justify-self: stretch;
  align-self: center;
  text-align: center;
  position: fixed;
  width: 100%;
  transform: translateY(-475px);
}

.grid__top {
  transition: 1s;
}

.grid__top:hover {
  transform: scale(1.2);
}

.grid__header {
  background-color: black;
  grid-area: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.header__img {
  align-self: center;
  margin: 0 35px;
}

.header__barra {
  align-self: center;
  justify-content: center;
  transform: translateX(-50px);
}

.header__sucursales {
  align-self: center;
  justify-content: center;
}

.grid__nav {
  grid-area: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  transform: translateX(60px);
}

.nav__mobile {
  display: none;
}

.nav__lista {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-transform: uppercase;
  padding: 32px;
  align-self: center;
  justify-self: center;
}

.nav__enlace {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-transform: uppercase;
}

.seccion {
  padding-top: 4rem;
}

.tarjeta {
  background-color: black;
  color: #bbff00;
  width: 1300px;
  min-height: 400px;
  padding: 32px;
  padding-top: 8px;
  border: 2px solid #bbff00;
  border: 2px double;
  margin-left: 325px;
  overflow: hidden;
}

.tarjeta__imagen {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  border: 2px solid #bbff00;
  border: 2px double;
  margin: 8px;
}

.tarjeta__titulo {
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1d86a7;
  font-size: 32px;
}

.tarjeta__texto {
  text-align: center;
  font-size: 16px;
  border-bottom: 2px solid darkslategray;
  font-family: 'Times New Roman', Times, serif;
  padding: 16px;
}

.tarjeta__precio {
  margin: 16px;
  font-size: 45px;
  text-align: center;
  font-style: italic;
}

.tarjeta__oferta {
  background-color: darkslategray;
  color: #bbff00;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px;
  display: inline-block;
  border-radius: 16px;
  position: absolute;
  top: 41px;
  right: 25px;
}

.grid__section {
  grid-area: 4;
  display: flex;
  align-items: center;
}

.section__tarjeta {
  grid-area: 4;
  background-color: black;
  color: #bbff00;
  width: 1300px;
  min-height: 400px;
  padding: 32px;
  padding-top: 8px;
  border: 2px solid #bbff00;
  border: 2px double;
  margin-left: 325px;
  overflow: hidden;
}

.section__airmax {
  margin-bottom: 35px;
}

.section__video {
  margin: 32px;
}

.nuevos__logos {
  grid-area: 5;
  background-color: black;
  transform: translateY(100px);
}

.grid__footer {
  background-color: black;
  grid-area: 6;
  transform: translateY(100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 32px;
}

.footer__div {
  align-items: center;
  text-align: center;
  transform: translateY();
}

.footer__suscribete {
  background-color: black;
  transform: translateY(50px);
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-transform: uppercase;
}

.grid__social {
  background-color: black;
  grid-area: 7;
  transform: translateY(100px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.grid__derechos {
  background-color: yellow;
  grid-area: 8;
  transform: translateY(80px);
  color: black;
  text-align: center;
  align-items: center;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.grid__medias {
  display: flex;
  flex-direction: column;
  transform: translateY(250px);
}

.medias {
  display: flex;
  flex-direction: row;
}

.seguinos__twitter {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 125px;
  margin: 64px;
  border-width: 8px;
  border-style: solid;
  border-color: white;
}

.seguinos__twittersub {
  color: #1d86a7;
  display: flex;
  margin: 16px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.seguinos__twitterlogo {
  display: flex;
  object-fit: cover;
  width: 75px;
  height: 75px;
  margin: 16px;
}

.todo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.cuotas {
  background-color: #bbff00;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0px;
  position: fixed;
  left: 0%;
  top: 0%;
}

.cuotas__sub {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #bbff00;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding-left: 100%;
  position: fixed;
  left: 0%;
  top: 0%;
}

.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 125px;
}

.imagenfooter {
  margin: 32px;
}

.barrafooter {
  display: flex;
  width: 300px;
  margin-right: 175px;
}

.barrafooter__from {
  width: 300px;
  display: flex;
}

.barrafooter__div {
  width: 300px;
}

.barrafooter__label {
  width: 300px;
}

.barrafooter__input {
  width: 300px;
}

.nav__lista {
  display: flex;
  list-style: none;
  margin-right: 64px;
}

.nav__item {
  margin: 32px;
  color: white;
}

.sucursales {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
}

.sucursales__a {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  margin-right: 64px;
}

.enlaces {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preguntas {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
  justify-self: center;
  text-align: center;
  size: 64px;
  transform: translateY(30px);
}

.preguntas__subtitulos {
  padding: 8px;
  padding-top: 64px;
  margin: 64px 120px;
  color: black;
  font-size: large;
}

.preguntas__sale {
  background-color: #bbff00;
  color: black;
  justify-self: center;
  text-align: center;
  size: 64px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  transform: translateY(30px);
}

.marcas {
  margin-top: 50px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.marcas__foto1 {
  object-fit: cover;
  margin: 16px;
  margin-bottom: 64px;
  display: flex;
  width: 250px;
  height: 150px;
}

.footerabajo {
  position: absolute;
}

.footer {
  display: grid;
  background-color: black;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 200px;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 60% 25% 15%;
  margin-top: auto;
  grid-template-areas: "ele1 ele2 ele3" "ele4 ele5 ele6" "ele7 ele7 ele7";
}

.footer__image {
  object-fit: cover;
  display: grid;
  grid-area: ele1;
  margin: 16px;
  margin-left: 130px;
}

.footer__sus {
  display: grid;
  grid-area: ele2;
  justify-self: flex-end;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
}

.footer__form {
  display: grid;
  grid-area: ele3;
  justify-self: center;
  align-self: center;
}

.footer__div {
  display: grid;
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
  margin-right: 130px;
}

.footerbarra {
  display: grid;
  width: 100px;
}

.footer__input {
  display: grid;
}

.footer__boton {
  display: grid;
}

.temporal1 {
  background-color: black;
  position: relative;
  margin: 16px 32px;
}

.temporal1__texto {
  position: absolute;
  align-self: center;
  justify-self: center;
  color: #bbff00;
  background-color: black;
  position: relative;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}

.temporal2 {
  color: #bbff00;
  background-color: black;
  position: relative;
  margin: 16px 32px;
}

.temporal2__texto {
  position: absolute;
  align-self: center;
  justify-self: center;
  color: #bbff00;
  background-color: black;
  position: relative;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}

.temporal3 {
  color: #bbff00;
  background-color: black;
  position: relative;
  margin: 16px 32px;
}

.temporal3__texto {
  position: absolute;
  align-self: center;
  justify-self: center;
  color: #bbff00;
  background-color: black;
  position: relative;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}

.temporal4 {
  display: grid;
  grid-area: ele7;
  color: black;
  background-color: #bbff00;
  justify-self: stretch;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.seccion {
  padding-top: 4rem;
}

.tarjeta {
  background-color: black;
  color: #bbff00;
  width: 1300px;
  min-height: 400px;
  padding: 32px;
  padding-top: 8px;
  border: 2px solid #bbff00;
  border: 2px double;
  margin-left: 325px;
  overflow: hidden;
}

.tarjeta__imagen {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  border: 2px solid #bbff00;
  border: 2px double;
  margin: 8px;
}

.tarjeta__titulo {
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1d86a7;
  font-size: 32px;
}

.tarjeta__texto {
  text-align: center;
  font-size: 16px;
  border-bottom: 2px solid darkslategray;
  font-family: 'Times New Roman', Times, serif;
  padding: 16px;
}

.tarjeta__precio {
  margin: 16px;
  font-size: 45px;
  text-align: center;
  font-style: italic;
}

.tarjeta__oferta {
  background-color: darkslategray;
  color: #bbff00;
  font-weight: bold;
  text-transform: uppercase;
  padding: 16px;
  display: inline-block;
  border-radius: 16px;
  position: absolute;
  top: 41px;
  right: 25px;
}

.whatsapp {
  background-color: #bbff00;
  color: black;
  display: block;
  padding: 8px 900px 8px 900px;
  position: fixed;
  top: 0%;
  right: 0%;
  max-height: 32px;
  white-space: nowrap;
  justify-self: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.fondo {
  background-image: url(/imagenes/blurry-gradient-haikei.png);
  background-size: cover;
}

.git__div {
  background-color: black;
  transform: translateY(350px);
  padding: 32px;
  margin: 16px;
}

.git__logo {
  padding: 0 825px;
  transition: transform 5s;
}

.git__logo:hover {
  transform: scale(0.1) rotate(360deg);
}

.header__img {
  transition: 2s;
}

.header__img:hover {
  transform: scale(1.5) rotate(360deg);
}

.grid__top {
  transition: 1s;
}

.grid__top:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .grid__header {
    background-color: black;
    flex-direction: column;
  }
  .grid__contenedor {
    display: grid;
    background-size: cover;
    grid-template-columns: 100%;
    grid-template-rows: 5% 20% 10% 145% 85% 30% 5% 5%;
    height: 1000px;
    grid-template-areas: "ele1" "ele2" "ele3" "ele4" "ele5" "ele6" "ele7" "ele8";
  }
  .grid__footer {
    flex-direction: column;
    align-content: space-between;
    align-items: center;
  }
  .footer__suscribete {
    background-color: black;
    transform: translateY(50px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-transform: uppercase;
    text-align: center;
  }
  .footer__div {
    align-items: center;
    text-align: center;
    transform: translatex(65px);
  }
  .header__barra {
    align-self: center;
    justify-content: center;
    transform: translateX(-10px);
  }
  .header__sucursales {
    align-self: center;
    justify-content: center;
    transform: translateX(30px);
  }
  .grid__section {
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .section__tarjeta {
    transform: translateX(-175px);
    width: 650px;
    overflow: visible;
  }
  .section__video {
    width: 400px;
  }
  .section__airmax {
    width: 450px;
    transform: translateX(30px);
  }
  .grid__logos {
    flex-direction: column;
  }
  .flex__logos {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .flex__items {
    height: 125px;
    width: 300px;
  }
  .flex__imagen {
    height: 95px;
  }
  .flex__titulo {
    font-size: 32px;
  }
  .grid__nav {
    overflow: visible;
    display: flex;
  }
  .nav__lista {
    flex-direction: column;
    overflow: scroll;
    max-height: 100px;
  }
  .grid__medias {
    transform: translateY(400px);
  }
  .grid__top {
    overflow: hidden;
  }
  .preguntas {
    transform: translateY(-30px);
  }
}

.sass-2 {
  color: white;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.brb {
  background-color: blue;
}

.brb {
  background-color: red;
}

.brb {
  background-color: black;
}

aside {
  background-color: red;
}

.boton, .boton--aceptar, .boton--cancelar {
  width: 200px;
  height: 50px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
}

.boton--aceptar {
  background-color: green;
  color: yellow;
}

.boton--cancelar {
  background-color: red;
  color: yellow;
}

.box-small {
  height: 100px;
  width: 100px;
  background-color: navy;
}

.box-medium {
  height: 500px;
  width: 500px;
  background-color: black;
}
/*# sourceMappingURL=estilos.css.map */